.ContestSummary-title {
  text-align: center;
}

.table-first-column-special tr th:first-child {
  text-align: right;
}

.table-first-column-special tr td:first-child {
  text-align: right;
}

.table-first-column-special tr th:not(:first-child) {
  text-align: center;
}

.table-first-column-special tr td:not(:first-child) {
  text-align: center;
}

.small-score {
  flex: 2;
}

.small-score-narrow {
  flex: 1;
}
